<h1> {{title}} </h1>
<person-list [persons]="persons"></person-list>
<hr />
<input type="button" value="Change first person activity" (click) = "changeFirstItem()" />
<input type="button" value="Add Person" (click) = "addItem()" />
