<ul>
    <li *ngFor="let person of persons">
        <div>Person Name: {{person.getName()}}</div>
        <div>Person Surname: {{person.getSurname()}}</div>
        <div>Person Active: {{person.getActive()}}</div>
    </li>
</ul>
